{{ template "base" . }}

{{ define "content" }}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>this is about page !!!! 67567</h1>
                <p>This is some texy about app</p>
            </div>
        </div>
    </div>
{{ end }}
